@model Watch.Me.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<link href="~/Content/changePass.css" rel="stylesheet" />
<div class="wrapper">


    <div class="student-details expanded">
        <div class="gravatar">
            <img src="http://i.istockimg.com/file_thumbview_approve/44919624/2/stock-illustration-44919624-man-avatar-profile-picture.jpg" width="200" height="200" />
        </div>
        <h2 class="student-name">John Doe</h2>
        <p class="student-email">john.doe@somedomain.com</p>
    </div>

    <div class="forms">
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="tabs change-password">
            <h3>Change Password</h3>
        </div>
    <div class="tab-content change-password-form-wrap">
        <!-- -->
        <form class="edit-profile-form">
            <div class="control">
                @Html.LabelFor(m => m.OldPassword, new { @id="form_label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "textbox", @id = "current-password" })
               
            </div>
            <div class="control">
                @Html.LabelFor(m => m.NewPassword, new {  @id = "form_label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "textbox", @id = "new-password" })
                
            </div>
            <div class="control">
                @Html.LabelFor(m => m.ConfirmPassword, new {  @id = "form_label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox", @id = "confirm-password" })
               
            </div>
            <div class="form-buttons">
                @*<input type="submit" value="Change password" class="btn btn-default"/>*@

                <button type="submit" class="primary-btn" value="Change Password">Change Password</button>
                <button type="button" class="secondary-btn cancel" value="Cancel">Cancel</button>
            </div>
        </form>
    </div>
}
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/manageForm.js"></script>
}