@{
    ViewBag.Title = "Home Page";
}

@model Watch.Me.Models.ViewModels.DisplayedVideosViewModel
<link href="~/Content/userForm.css" rel="stylesheet" />
<link href="~/Content/uploadContainer.css" rel="stylesheet" />

<link href="~/Content/video.css" rel="stylesheet" />
<link href="~/Content/search.css" rel="stylesheet" />
<link href="~/Content/slider.css" rel="stylesheet" />
<link href="~/Content/navAnimate.css" rel="stylesheet" />
<div id="userForm">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
        {
            @Html.AntiForgeryToken()
        
        
            <div class="mobile-wrap">
                <div class="mobile clearfix">
                    <div class="header">
                        <span class="ion-ios-navicon pull-left"><i></i></span>
                        <span class="title">@*TUKA IDE SLIKATA NA USEROT*@</span>
                    </div>

                    <div class="sidebar">
                        <div class="sidebar-overlay"></div>
                        <div class="sidebar-content">
                            <div class="top-head">

                                <img class="profilepic" src="#"/>

                                <div class="email">@*TUKA IDE MAILOT NA USEROT*@

                                    <span>@Html.ActionLink("kr.arsovski@gmail.com", "ChangePassword", "Manage")</span>                                
                                </div>

                            </div>
                            <div class="nav-left">
                                <div class="btn"></div>
                                <div class="icon-bg">
                                    <div class="icon">@*OVA E ZA KOPCETO ZA UPLOAD FORMATA*@</div>
                                </div>

                            </div>
                            <div class="logout">
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                            </div>
                        </div>

                    </div>
                    <div class="content">

                        <div class="html welcome visible">
                        </div>
                        <div class="html alarm">
                        </div>
                        <div class="alarm-list">
                        </div>
                        <div class="html compose">
                        </div>
                        <div class="html chats">
                        </div>
                        <div class="html settings">
                        </div>
                        <div class="html profile">
                        </div>
                        <div class="html credits">
                        </div>
                    </div>

                </div>

            </div>

        }
    }
    else
    {
        <ul id="navigation">
            <li class="home">@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
            <li class="about"><span>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</span></li>

        </ul>
    }


</div>

<div id="overlay" class="web_dialog_overlay"></div>


@if (Model.LoggedUser)
{
    <div id="dialog" class="web_dialog">
        <table style="width: 100%; border: 0px;" cellpadding="3" cellspacing="0">
            <tr>
                <td class="web_dialog_title align_right">
                    <a href="#" id="btnClose">Close</a>
                </td>
            </tr>
        </table>

        <form id="insertVideo">

            <div>
                <h2>Title</h2>
            </div>
            <div>
                <input type="text" id="videoTitle" name="videoTitle" style="background-color: white" required>
            </div>

            <div style="padding-top: 50px;">
                <h2>Url</h2>
            </div>

            <div>
                <input type="text" id="videoUrl" name="videoUrl" style="background-color: white" required>
            </div>

            <div style="padding-top: 30px;">
                @foreach (var tag in Model.AvailableTags)
                {
                    <p>
                        <input type="checkbox" id="@tag.TagId" class="k-checkbox">
                        <label class="k-checkbox-label" for="@tag.TagId">@tag.TagDescription</label>
                    </p>
                }
            </div>

            <div style="padding-top: 10px;">
                <input type="button" id="confirmButton" value="Post the video" />
            </div>
        </form>

    </div>
}





<div class="content">
    <h2 class="titleVideos">Popular Videos</h2>
    <div class="preview-wrapper" id="popularVideos">
        <div class="previews">
            @foreach (var item in Model.PopularVideos)
            {
                <div data-aspect-ratio="16:9" class="preview">

                    <iframe id="ytplayer" type="text/html" src="@item.Url"
                            frameborder="0" autoplay="false"></iframe>
                    <div id="title_frame">@Html.ActionLink(@item.VideoTitle, "Index", "WatchVideo", new { videoId = item.Id }, new { @class = "navbar-brand" })</div>
                </div>

            }
        </div>
    </div>
</div>

<div class="content">
    <h2 class="titleVideos">Recently Uploaded</h2>
    <div class="preview-wrapper" id="recentlyUploaded">
        <div class="previews">
            @foreach (var item in Model.RecentVideos)
            {
                <div data-aspect-ratio="16:9" class="preview">

                    <iframe id="ytplayer" type="text/html" src="@item.Url"
                            frameborder="0" autoplay="false"></iframe>
                    <div id="title_frame">@Html.ActionLink(@item.VideoTitle, "Index", "WatchVideo", new { videoId = item.Id }, new { @class = "navbar-brand" })</div>
                </div> 
            }
        </div>
    </div>
</div>

@if (Model.LoggedUser == true)
    {
<div class="content">
  
        <h2 class="titleVideos">Recommended Videos</h2>
        <div class="preview-wrapper" id="recomended">
            <div class="previews">
                @foreach (var item in Model.ReccomendedVideos)
                {
                    <div data-aspect-ratio="16:9" class="preview">

                        <iframe id="ytplayer" type="text/html" src="@item.Url"
                                frameborder="0" autoplay="false"></iframe>
                        <div id="title_frame">@Html.ActionLink(@item.VideoTitle, "Home", "WatchVideo", new {area = ""}, new {@class = "navbar-brand"})</div>
                    </div>
                }
            </div>
        </div>
</div>

    }

    
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://bxslider.com/lib/jquery.bxslider.js"></script>
<script src="~/Scripts/slider.js"></script>
<script src="~/Scripts/userForm.js"></script>
<script src="~/Scripts/uploadForm.js"></script>
<script src="~/Scripts/navAnimate.js"></script>
@*<script src="~/Scripts/video.js"></script>*@
<style>
    #redirect {
        width: 30%;
        cursor: pointer;
    }
</style>

<script>
    $("document").ready(function () {

        $("#confirmButton").click(function () {

            var selectedTags = [];
            $("input:checkbox").each(function () {
                var $this = $(this);
                if ($this.is(":checked")) {
                    selectedTags.push($this.attr("id"));
                } 
            });

            var title = $("#videoTitle").val();
            var url = $("#videoUrl").val();

            var subString = url.indexOf("watch?v=") > -1;
            
            if (subString) {
                if (selectedTags.length === 0) {
                    alert("At least one tag should be selected");
                }
                else {
                    //ajax post call to controller 
                    $.ajax({
                        type: "POST",
                        data: {
                            videoTitle: title,
                            videoUrl: url,
                            selectedTags: selectedTags
                        },
                        traditional: true,
                        url: "Home/PostAVideo",
                        dataType: 'json',
                        success: function (response) {
                            if (response != null && response.success) {
                                alert('The video has been uploaded');
                                resetFields();         //kristijan na success da se zatovri formata :) tuka dodadi nekakov javascript. $("#divot).close ?!?

                            } else {
                                alert(response);
                            }
                        },
                        error: function (response) {
                            alert("error!");  // 
                        }
                    });
                }
            } else {
                alert("This is not a valid Url. You are allowed to use only youtube's links");
            }
            
            
            

            
        });
    });

    function resetFields() {
        $("#videoTitle").val('');
        $("#videoUrl").val('');
    }
</script>
