@{
    ViewBag.Title = "WatchVideo";
}

@model Watch.Me.Models.ViewModels.WatchVideoViewModel

<link href="~/Content/video.css" rel="stylesheet" />
<link href="~/Content/search.css" rel="stylesheet" />
<link href="~/Content/comments.css" rel="stylesheet" />
<link href="~/Content/multiPlayers.css" rel="stylesheet"/>
<link href="~/Content/subNav.css" rel="stylesheet" />

<div class="radmenu">
    <a href="#" class="show">Search</a>
    <ul>
        <li>
            <a href="#" id=" test"  class="">Popular</a>

        </li>
        <li>
            <a href="#" id="recentButton">Recently Uploaded</a>

        </li>
        <li>
            <a href="#" id="recommend">Recommended</a>

        </li>


    </ul>
</div>



@*<div class="sub_nav">
    <div class="listi">
        <ul>
            
            <li class="active"><a href="#modern"><span id="test">Popular</span></a></li>
            <li><a href="#modern"><span id="recentButton">Recently Uploaded</span></a></li>
            <li><a href="#modern"><span id="test">Popular</span></a></li>
            <li>@Html.ActionLink("Recomeneded", "MultipleVideoes", "WatchVideo", new { searchType = 1 }, null)</li>
            <li><a href="#oldSkool">Recomeneded</a></li>
            <li class="active"><a href="#modern">Popular</a></li>
            <li><a href="#oldSkool">Recommended</a></li>
            <li><a href="#oldSkool">Recently Uploaded</a></li>
        </ul>
    </div>
    <div class='search'>
        <div class='search-container'>
            <input placeholder='search' type='text'>
            <a class='button'>
                <i class='icon-search'></i>
            </a>
        </div>
    </div>
</div>*@
<div class="wrapper_left_video">

    <div class="well">
        <iframe frameborder="0" src="@Model.Url"></iframe>
    </div>

    <div class="video_stuff">
        <div class="video_title">
            <h3>@Model.VideoTitle</h3> @*--------- > tuka treba da se zeme id od title na videoto i da se prikaze*@
            <p>
                @*Tags are here:*@
                @foreach (var item in Model.Tags)
                {
                    <label>@item.TagDescription</label>
                }
            </p>
        </div>
        <div class="like">
            <i id="lik"></i>
            <span id="likk">liked!</span>
            
            @Model.NumberLike
        </div>
        <div class="dislike">
            <i id="dis"></i>
            <span id="diss">disliked!</span>
            @Model.NumberDislike
        </div>
        <button class='bubble'>
            <p>Add Comment</p>
        </button>
    </div>

<div class='comments'>
    <div class="detailBox">
        <div class="titleBox">
            <label>Comment Box</label>
           
        </div>
     
        <div class="actionBox">
            <ul class="commentList">
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/6" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/7" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
                <li>
                    <div class="commenterImage">
                        <img src="http://lorempixel.com/50/50/people/9" />
                    </div>
                    <div class="commentText">
                        <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>

                    </div>
                </li>
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" id="add_comment" type="text" placeholder="Add Comment" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>
    @*<div class='loader'></div>
        <div class='inner'>
            <div class='add-new'>
                <textarea class='input your-msg' placeholder='Type your comment here...'></textarea>
                <button class='send-msg send'>
                    <p>Send</p>
                </button>
            </div>
           
        </div>
    </div>*@
</div>

    </div>
        <div id="renderPartial">
            @Html.Partial("~/Views/Home/_MultipleVideoesPartialView.cshtml", Model)
        </div>



        @*@foreach (var item in Model.SideVideos)
        {
            <div class="one_video effect1 hidden">
                <div data-aspect-ratio="16:9" class="moreVideo ">
                    <iframe id="ytplayer" type="text/html" src="@item.Url"
                            frameborder="0" autoplay="false"></iframe>
                </div>
                <div class="info_video">
                    <div id="title">
                        <div id="title_frame">
                            <h3>@Html.ActionLink(@item.VideoTitle, "Index", "WatchVideo", new { videoId = item.Id }, new { @class = "navbar-brand", @id="litle_title" })</h3>
                        </div>
                    </div>
                    <div id="tag_video">
                        @foreach (var tag in item.Tags)
                        {
                            <p>@tag.TagDescription</p>
                        }
                    </div>
                </div>
            </div>
        }*@
        



            @*@Html.ActionLink(@item.VideoTitle, "Index", "WatchVideo", new { videoId = item.Id }, new { @class = "navbar-brand" })*@



            @*<div class="one_video effect1 hidden">
                <div data-aspect-ratio="16:9" class="moreVideo ">
                    <iframe id="ytplayer" type="text/html" src="http://files.simey.me/html5-vids/trailer.ogv" type="video/ogg" frameborder="0" autoplay="false"></iframe>
                </div>
                <div class="info_video">
                    <div id="title"><h3>Kikser</h3></div>
                    <div id="tag_video"><p>Tom and Jerry</p></div>
                </div>
            </div>*@




            @*<a href="#" id="show-more">
                <div class="arrow bounce"> </div>
            </a>*@


        @*</div>
        </div>*@
   
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="~/Scripts/subNav.js"></script>
<script src="~/Scripts/comments.js"></script>

<script type="text/javascript">
    $(function () {

        $('#test').click(function () {
            $.ajax({
                url: '/WatchVideo/MultipleVideoes',
                data: { searchType: 1 },
                dataType: 'html',
                success: function (data) {
                    $('#renderPartial').html(data);
                }
            });
        });

        $('#recentButton').click(function () {
            $.ajax({
                url: '/WatchVideo/MultipleVideoes',
                data: { searchType: 2 },
                dataType: 'html',
                success: function (data) {
                    $('#renderPartial').html(data);
                }
            });
        });
       
    });
</script>

@*<script>
        $(function() {
            $("#lik").click(function() {
                $("#lik,#likk").toggleClass("press", 1000);
            });
            $("#dis").click(function() {
                $("#dis,#diss").toggleClass("press", 1000);
            });
        });
    </script>
    <script>
        $('.bubble').click(function() {
            $('.comments').slideToggle('slow');
            return false;
        });

    </script>
<script>
    function showMore() {
        $('.hidden:lt(4)').removeClass('hidden');
    };

    $(document).ready(function () {
        $('.hidden:lt(4)').removeClass('hidden');
        $('#show-more').on('click', showMore);
    });
</script>*@